body {
    text-align: center;
    background-color: fuchsia;

}

#img {
    width: 60%;
    height: 50%;
}
#header1{
  font-family: 'Goblin One', cursive;  
}
#para{
    font-family: 'Goblin One', cursive;
    font-size: 20px;
}
